.main {
	margin-top: 50px;
}
.github-buttons {
	padding-top: 10px;
}
h2 .label {
	vertical-align:4px;
}
textarea {
	height:425px;
	resize:none;
	font-family:Menlo,Monaco,"Courier New",monospace;
	font-size:11px;
	line-height:15px;
}
#input {
	height:295px;
}
#variables {
	height:75px;
}
label.control-label {
	font-weight:bold;
}
footer {
	margin-bottom:30px;
}
footer a {
	margin-top:0;
}
